/* Ajout de la police "Intuitive" */

@font-face {
    font-family: 'Intuitive';
    src: url("../fonts/intuitive.ttf")format("truetype");
}

/* Les règles de style de la page 
   sont rangés par emplacement du contenu dans la page */

/* MASTER */

body {
    font-family: 'Intuitive', Tahoma;
    border: 5px solid red;
    margin: 0px;
    padding: 0.5%;
}

a {
    /* text-decoration: none; */
    color:rgb(65, 166, 43);
}

a:hover {
    color: rgb(255, 128, 0)
}

hr {
    margin: 1% 0px;
    color: rgb(65, 166, 43);
    font-weight: bold;
}


/* HEADER */

header {
    border: 2px solid yellow;
    margin-bottom: 1%;
}

.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.navbar li {
    margin: auto;
}

#home img {
    width: 50px;
    height: 50px;
}

#facebook img {
    width: 25px;
    height: 25px;
}

#instagram img {
    width: 25px;
    height: 25px;
}

/*  MAIN */

#corpus {
    border: 2px solid blue;
    margin-bottom: 1%;
    height: 100%;
}

#carrousel {
    margin: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
#carrousel img {
    margin: auto;
    padding: 0px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 3em;
}
/* FOOTER */

footer {
    border: 2px solid lightgreen;
}

.infos  {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.infos li {
    margin: auto;
}

#fb img {
    width: 50px;
    height: 50px;
}

#insta img {
    width: 50px;
    height: 50px;
}